version: 1.0.0.{build}

image:
- Visual Studio 2017

environment:
    BOOST_ROOT: "C:\\Libraries\\boost_1_67_0"

branches:
    only:
        - master
        - develop

clone_folder: c:\projects\ethash

install:
    # by default, all script lines are interpreted as batch

# scripts to run before build
before_build:
    - echo "Running cmake..."
    - cd c:\projects\ethash
    - cmake .

build:
    project: ALL_BUILD.vcxproj      # path to Visual Studio solution or project

after_build:
    - echo "Running tests..."
    - cd c:\projects\ethash
    - go test -v
    # FIXME(whilei): I don't see this dir ever existing.
    # - cd c:\projects\ethash\test\c\Debug 
    # - Test.exe
    - echo "Finished!"

